@media screen and (max-width: 480px) {
  img {
    height: 140px;
  }
  .avatar {
    width: 120px;
    display: block;
  }
  .header__content__conteiner {
    display: block;
  }
  .about__container {
    display: blok;
    width: 100%;
  }
  .about__container__content {
    text-align: center;
    color: #dbd5d5;
    text-shadow: 0 0 7px #000;
    font-family: "Patua One", cursive;
    margin-top: 10%;
  }
  .modal-dialog {
    max-width: 300px;
    margin: -4.25rem auto;
    
}
.modal-content {
    margin-top: 51%;
}
.modal-header .btn-close {
    padding: .5rem .5rem;
    margin: -12.5rem -.5rem -.5rem auto;
}
}
