body {
  background-image: url(/resume/img/back.jpg);
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}



.header__content__conteiner {
  margin-top: 4%;
  width: 80%;
  height: 440px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  box-shadow: 0 0 7px #000;
  padding: 5px;
  border-radius: 3%;
}
.avatar {
  border: 2px solid #b39696;
  box-shadow: 0 0 7px #666;
  width: 320px;
  display: flex;
  justify-content: left;
  border-radius: 4%;
  margin: 5px;
}
.about__container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.about__container__content {
  text-align: center;
  color: #dbd5d5;
  text-shadow: 0 0 7px #000;
  font-family: "Patua One", cursive;
  margin-top: 20%;
}


.modal-content {
    background-color: #a29e9ed6;
    border: 1px solid rgba(0,0,0,.2);
    margin-top: 40%;
    border: 2px solid #b39696;
    box-shadow: 0 0 7px #666;
  border-radius: 4%;

}
.icon{
        border-radius: 100%;
        border: 5px solid #b6a6a6;
        box-shadow: 0 0 7px #666;
        margin: 20px;
        width: 100px;
}
.modal-dialog {
    max-width: 500px;
    margin: -4.25rem auto;
    
}
.modal-header .btn-close {
    padding: .5rem .5rem;
    margin: -9.5rem -.5rem -.5rem auto;
}
